.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#ot {
    text-transform: capitalize;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    padding: .3rem;
    font-size: medium;
}
#in {
    text-align: center;
}
.white {
    color: white;
}

.b-m {
    margin-bottom: 1rem;
}
.u-m {
    margin-top: 1rem;
}

.l-m{
    margin-left: .6rem;
}
input.white::placeholder {
    color: white;
}